{%- if product.metafields.custom.flavor_profile != blank -%}
  <p><b>Flavor Profile</b></br> {{ product.metafields.custom.flavor_profile | metafield_text | capitalize }}.</p>
{%- endif -%}
{%- if product.metafields.custom.effect != blank -%}
  <p><b>Effect</b></br> {{ product.metafields.custom.effect | metafield_text | capitalize }}.</p>
{%- endif -%}
{%- if product.metafields.custom.tasting_notes != blank -%}
  <p><b>Tasting Notes</b></br> {{ product.metafields.custom.tasting_notes | metafield_text }}</p>
{%- endif -%}
